# Compiled Expert Advisors and Indicators
*.ex5

# MetaEditor backup files
*.mq5~
*.mqh~

# Tester logs and cache
/tester/logs/
/tester/history/

# Terminal logs
/logs/
/MQL5/Logs/

# Preset files for strategies (.set)
/presets/

# Profiles and templates can contain personal settings
/profiles/
/templates/

# MQL4 caches and checkpoints
/MQL5/cache/
/MQL5/checkpoints/

# Exclude all data files (might include historical data)
/*.dat
/*.hst
/*.raw

# Exclude any .srv files (server configurations)
/*.srv

# Miscellaneous files
/MQL5/indicators/*.ini
/MQL5/Scripts/*.ini
*.dat
Experts/MACD Sample.mq4
Experts/Moving Average.mq4
Include/Arrays/Array.mqh
Include/Arrays/ArrayChar.mqh
Include/Arrays/ArrayDouble.mqh
Include/Arrays/ArrayFloat.mqh
Include/Arrays/ArrayInt.mqh
Include/Arrays/ArrayLong.mqh
Include/Arrays/ArrayObj.mqh
Include/Arrays/ArrayShort.mqh
Include/Arrays/ArrayString.mqh
Include/Arrays/List.mqh
Include/Arrays/Tree.mqh
Include/Arrays/TreeNode.mqh
Include/Canvas/Canvas.mqh
Include/ChartObjects/ChartObject.mqh
Include/ChartObjects/ChartObjectPanel.mqh
Include/ChartObjects/ChartObjectsArrows.mqh
Include/ChartObjects/ChartObjectsBmpControls.mqh
Include/ChartObjects/ChartObjectsChannels.mqh
Include/ChartObjects/ChartObjectsFibo.mqh
Include/ChartObjects/ChartObjectsGann.mqh
Include/ChartObjects/ChartObjectsLines.mqh
Include/ChartObjects/ChartObjectsShapes.mqh
Include/ChartObjects/ChartObjectsTxtControls.mqh
Include/Charts/Chart.mqh
Include/Controls/BmpButton.mqh
Include/Controls/Button.mqh
Include/Controls/CheckBox.mqh
Include/Controls/CheckGroup.mqh
Include/Controls/ComboBox.mqh
Include/Controls/DateDropList.mqh
Include/Controls/DatePicker.mqh
Include/Controls/Defines.mqh
Include/Controls/Dialog.mqh
Include/Controls/Edit.mqh
Include/Controls/Label.mqh
Include/Controls/ListView.mqh
Include/Controls/Panel.mqh
Include/Controls/Picture.mqh
Include/Controls/RadioButton.mqh
Include/Controls/RadioGroup.mqh
Include/Controls/Rect.mqh
Include/Controls/res/CheckBoxOff.bmp
Include/Controls/res/CheckBoxOn.bmp
Include/Controls/res/Close.bmp
Include/Controls/res/CloseDisable.bmp
Include/Controls/res/CloseOff.bmp
Include/Controls/res/CloseOn.bmp
Include/Controls/res/DateDropOff.bmp
Include/Controls/res/DateDropOn.bmp
Include/Controls/res/Down.bmp
Include/Controls/res/down_smoll.bmp
Include/Controls/res/DownDisable.bmp
Include/Controls/res/DownSmall.bmp
Include/Controls/res/DownTransp.bmp
Include/Controls/res/DropOff.bmp
Include/Controls/res/DropOn.bmp
Include/Controls/res/ExpandDisable.bmp
Include/Controls/res/ExpandOff.bmp
Include/Controls/res/ExpandOn.bmp
Include/Controls/res/HelpDisable.bmp
Include/Controls/res/HelpOff.bmp
Include/Controls/res/HelpOn.bmp
Include/Controls/res/Left.bmp
Include/Controls/res/LeftDisable.bmp
Include/Controls/res/LeftTransp.bmp
Include/Controls/res/RadioButtonOff.bmp
Include/Controls/res/RadioButtonOn.bmp
Include/Controls/res/Restore.bmp
Include/Controls/res/RestoreDisable.bmp
Include/Controls/res/RestoreOff.bmp
Include/Controls/res/RestoreOn.bmp
Include/Controls/res/Right.bmp
Include/Controls/res/RightDisable.bmp
Include/Controls/res/RightTransp.bmp
Include/Controls/res/SpinDec.bmp
Include/Controls/res/SpinInc.bmp
Include/Controls/res/ThumbHor.bmp
Include/Controls/res/ThumbHorDisable.bmp
Include/Controls/res/ThumbVert.bmp
Include/Controls/res/ThumbVertDisable.bmp
Include/Controls/res/Turn.bmp
Include/Controls/res/TurnOff.bmp
Include/Controls/res/TurnOn.bmp
Include/Controls/res/Up.bmp
Include/Controls/res/up_smoll.bmp
Include/Controls/res/UpDisable.bmp
Include/Controls/res/UpSmall.bmp
Include/Controls/res/UpTransp.bmp
Include/Controls/Scrolls.mqh
Include/Controls/SpinEdit.mqh
Include/Controls/TimePicker.mqh
Include/Controls/Wnd.mqh
Include/Controls/WndClient.mqh
Include/Controls/WndContainer.mqh
Include/Controls/WndObj.mqh
Include/Files/File.mqh
Include/Files/FileBin.mqh
Include/Files/FilePipe.mqh
Include/Files/FileTxt.mqh
Include/Indicators/BillWilliams.mqh
Include/Indicators/Custom.mqh
Include/Indicators/Indicator.mqh
Include/Indicators/Indicators.mqh
Include/Indicators/Oscilators.mqh
Include/Indicators/Series.mqh
Include/Indicators/TimeSeries.mqh
Include/Indicators/Trend.mqh
Include/Indicators/Volumes.mqh
Include/MovingAverages.mqh
Include/Object.mqh
Include/stderror.mqh
Include/stdlib.mqh
Include/StdLibErr.mqh
Include/Strings/String.mqh
Include/Tools/DateTime.mqh
Include/WinUser32.mqh
Indicators/Accelerator.mq4
Indicators/Accumulation.mq4
Indicators/Alligator.mq4
Indicators/ATR.mq4
Indicators/Awesome.mq4
Indicators/Bands.mq4
Indicators/Bears.mq4
Indicators/Bulls.mq4
Indicators/CCI.mq4
Indicators/Custom Moving Averages.mq4
Indicators/Examples/SimplePanel/PanelDialog.mqh
Indicators/Examples/SimplePanel/SimplePanel.mq4
Indicators/Heiken Ashi.mq4
Indicators/Ichimoku.mq4
Indicators/iExposure.mq4
Indicators/MACD.mq4
Indicators/Momentum.mq4
Indicators/OsMA.mq4
Indicators/Parabolic.mq4
Indicators/RSI.mq4
Indicators/Stochastic.mq4
Indicators/ZigZag.mq4
Libraries/stdlib.mq4
Scripts/Examples/DLL/DLLSample.cpp
Scripts/Examples/DLL/DLLSample.vcxproj
Scripts/Examples/DLL/DLLSampleTester.mq4
Scripts/Examples/DLL/Libraries/DLLSample.dll
Scripts/Examples/Pipes/PipeClient.mq4
Scripts/Examples/Pipes/PipeClientPure.mq4
Scripts/PeriodConverter.mq4
Experts/Advisors/ExpertMACD.mq5
Experts/Advisors/ExpertMAMA.mq5
Experts/Advisors/ExpertMAPSAR.mq5
Experts/Advisors/ExpertMAPSARSizeOptimized.mq5
Experts/Examples/ChartInChart/ChartInChart.mq5
Experts/Examples/Controls/Controls.mq5
Experts/Examples/Controls/ControlsDialog.mqh
Experts/Examples/Correlation Matrix 3D/Correlation Matrix 3D.mq5
Experts/Examples/Correlation Matrix 3D/Correlation Matrix 3D.mqproj
Experts/Examples/MACD/MACD Sample.mq5
Experts/Examples/Math 3D Morpher/Functions.mqh
Experts/Examples/Math 3D Morpher/Math 3D Morpher.mq5
Experts/Examples/Math 3D Morpher/Math 3D Morpher.mqproj
Experts/Examples/Math 3D Morpher/Textures/checker.bmp
Experts/Examples/Math 3D/Functions.mqh
Experts/Examples/Math 3D/Math 3D.ico
Experts/Examples/Math 3D/Math 3D.mq5
Experts/Examples/Math 3D/Math 3D.mqproj
Experts/Examples/Math 3D/Sets/Chomolungma.set
Experts/Examples/Math 3D/Sets/ClimberDream.set
Experts/Examples/Math 3D/Sets/DoubleScrew.set
Experts/Examples/Math 3D/Sets/Granite.set
Experts/Examples/Math 3D/Sets/Hedgehog.set
Experts/Examples/Math 3D/Sets/Hill.set
Experts/Examples/Math 3D/Sets/Josephine.set
Experts/Examples/Math 3D/Sets/MultyExtremalScrew.set
Experts/Examples/Math 3D/Sets/Screw.set
Experts/Examples/Math 3D/Sets/Sink.set
Experts/Examples/Math 3D/Sets/Skin.set
Experts/Examples/Math 3D/Sets/Trapfall.set
Experts/Examples/Moving Average/Moving Average.mq5
Images/dollar.bmp
Images/euro.bmp
Include/Canvas/Canvas3D.mqh
Include/Canvas/Charts/ChartCanvas.mqh
Include/Canvas/Charts/HistogramChart.mqh
Include/Canvas/Charts/LineChart.mqh
Include/Canvas/Charts/PieChart.mqh
Include/Canvas/DX/DXBox.mqh
Include/Canvas/DX/DXBuffers.mqh
Include/Canvas/DX/DXData.mqh
Include/Canvas/DX/DXDispatcher.mqh
Include/Canvas/DX/DXHandle.mqh
Include/Canvas/DX/DXInput.mqh
Include/Canvas/DX/DXMath.mqh
Include/Canvas/DX/DXMesh.mqh
Include/Canvas/DX/DXObject.mqh
Include/Canvas/DX/DXObjectBase.mqh
Include/Canvas/DX/DXShader.mqh
Include/Canvas/DX/DXSurface.mqh
Include/Canvas/DX/DXTexture.mqh
Include/Canvas/DX/DXUtils.mqh
Include/Canvas/DX/Shaders/DefaultShaderPixel.hlsl
Include/Canvas/DX/Shaders/DefaultShaderVertex.hlsl
Include/Canvas/FlameCanvas.mqh
Include/ChartObjects/ChartObjectsElliott.mqh
Include/ChartObjects/ChartObjectSubChart.mqh
Include/Expert/Expert.mqh
Include/Expert/ExpertBase.mqh
Include/Expert/ExpertMoney.mqh
Include/Expert/ExpertSignal.mqh
Include/Expert/ExpertTrade.mqh
Include/Expert/ExpertTrailing.mqh
Include/Expert/Money/MoneyFixedLot.mqh
Include/Expert/Money/MoneyFixedMargin.mqh
Include/Expert/Money/MoneyFixedRisk.mqh
Include/Expert/Money/MoneyNone.mqh
Include/Expert/Money/MoneySizeOptimized.mqh
Include/Expert/Signal/SignalAC.mqh
Include/Expert/Signal/SignalAMA.mqh
Include/Expert/Signal/SignalAO.mqh
Include/Expert/Signal/SignalBearsPower.mqh
Include/Expert/Signal/SignalBullsPower.mqh
Include/Expert/Signal/SignalCCI.mqh
Include/Expert/Signal/SignalDEMA.mqh
Include/Expert/Signal/SignalDeMarker.mqh
Include/Expert/Signal/SignalEnvelopes.mqh
Include/Expert/Signal/SignalFrAMA.mqh
Include/Expert/Signal/SignalITF.mqh
Include/Expert/Signal/SignalMA.mqh
Include/Expert/Signal/SignalMACD.mqh
Include/Expert/Signal/SignalRSI.mqh
Include/Expert/Signal/SignalRVI.mqh
Include/Expert/Signal/SignalSAR.mqh
Include/Expert/Signal/SignalStoch.mqh
Include/Expert/Signal/SignalTEMA.mqh
Include/Expert/Signal/SignalTRIX.mqh
Include/Expert/Signal/SignalWPR.mqh
Include/Expert/Trailing/TrailingFixedPips.mqh
Include/Expert/Trailing/TrailingMA.mqh
Include/Expert/Trailing/TrailingNone.mqh
Include/Expert/Trailing/TrailingParabolicSAR.mqh
Include/Files/FileBMP.mqh
Include/Generic/ArrayList.mqh
Include/Generic/HashMap.mqh
Include/Generic/HashSet.mqh
Include/Generic/Interfaces/ICollection.mqh
Include/Generic/Interfaces/IComparable.mqh
Include/Generic/Interfaces/IComparer.mqh
Include/Generic/Interfaces/IEqualityComparable.mqh
Include/Generic/Interfaces/IEqualityComparer.mqh
Include/Generic/Interfaces/IList.mqh
Include/Generic/Interfaces/IMap.mqh
Include/Generic/Interfaces/ISet.mqh
Include/Generic/Internal/ArrayFunction.mqh
Include/Generic/Internal/CompareFunction.mqh
Include/Generic/Internal/DefaultComparer.mqh
Include/Generic/Internal/DefaultEqualityComparer.mqh
Include/Generic/Internal/EqualFunction.mqh
Include/Generic/Internal/HashFunction.mqh
Include/Generic/Internal/Introsort.mqh
Include/Generic/Internal/PrimeGenerator.mqh
Include/Generic/LinkedList.mqh
Include/Generic/Queue.mqh
Include/Generic/RedBlackTree.mqh
Include/Generic/SortedMap.mqh
Include/Generic/SortedSet.mqh
Include/Generic/Stack.mqh
Include/Graphics/Axis.mqh
Include/Graphics/ColorGenerator.mqh
Include/Graphics/Curve.mqh
Include/Graphics/Graphic.mqh
Include/Math/Alglib/alglib.mqh
Include/Math/Alglib/alglibinternal.mqh
Include/Math/Alglib/alglibmisc.mqh
Include/Math/Alglib/ap.mqh
Include/Math/Alglib/arrayresize.mqh
Include/Math/Alglib/bitconvert.mqh
Include/Math/Alglib/dataanalysis.mqh
Include/Math/Alglib/delegatefunctions.mqh
Include/Math/Alglib/diffequations.mqh
Include/Math/Alglib/fasttransforms.mqh
Include/Math/Alglib/integration.mqh
Include/Math/Alglib/interpolation.mqh
Include/Math/Alglib/linalg.mqh
Include/Math/Alglib/matrix.mqh
Include/Math/Alglib/optimization.mqh
Include/Math/Alglib/solvers.mqh
Include/Math/Alglib/specialfunctions.mqh
Include/Math/Alglib/statistics.mqh
Include/Math/Fuzzy/dictionary.mqh
Include/Math/Fuzzy/fuzzyrule.mqh
Include/Math/Fuzzy/fuzzyterm.mqh
Include/Math/Fuzzy/fuzzyvariable.mqh
Include/Math/Fuzzy/genericfuzzysystem.mqh
Include/Math/Fuzzy/helper.mqh
Include/Math/Fuzzy/inferencemethod.mqh
Include/Math/Fuzzy/mamdanifuzzysystem.mqh
Include/Math/Fuzzy/membershipfunction.mqh
Include/Math/Fuzzy/ruleparser.mqh
Include/Math/Fuzzy/sugenofuzzysystem.mqh
Include/Math/Fuzzy/sugenovariable.mqh
Include/Math/Stat/Beta.mqh
Include/Math/Stat/Binomial.mqh
Include/Math/Stat/Cauchy.mqh
Include/Math/Stat/ChiSquare.mqh
Include/Math/Stat/Exponential.mqh
Include/Math/Stat/F.mqh
Include/Math/Stat/Gamma.mqh
Include/Math/Stat/Geometric.mqh
Include/Math/Stat/Hypergeometric.mqh
Include/Math/Stat/Logistic.mqh
Include/Math/Stat/Lognormal.mqh
Include/Math/Stat/Math.mqh
Include/Math/Stat/NegativeBinomial.mqh
Include/Math/Stat/NoncentralBeta.mqh
Include/Math/Stat/NoncentralChiSquare.mqh
Include/Math/Stat/NoncentralF.mqh
Include/Math/Stat/NoncentralT.mqh
Include/Math/Stat/Normal.mqh
Include/Math/Stat/Poisson.mqh
Include/Math/Stat/Stat.mqh
Include/Math/Stat/T.mqh
Include/Math/Stat/Uniform.mqh
Include/Math/Stat/Weibull.mqh
Include/OpenCL/OpenCL.mqh
Include/Trade/AccountInfo.mqh
Include/Trade/DealInfo.mqh
Include/Trade/HistoryOrderInfo.mqh
Include/Trade/OrderInfo.mqh
Include/Trade/PositionInfo.mqh
Include/Trade/SymbolInfo.mqh
Include/Trade/TerminalInfo.mqh
Include/Trade/Trade.mqh
Include/VirtualKeys.mqh
Include/WinAPI/errhandlingapi.mqh
Include/WinAPI/fileapi.mqh
Include/WinAPI/handleapi.mqh
Include/WinAPI/libloaderapi.mqh
Include/WinAPI/memoryapi.mqh
Include/WinAPI/processenv.mqh
Include/WinAPI/processthreadsapi.mqh
Include/WinAPI/securitybaseapi.mqh
Include/WinAPI/sysinfoapi.mqh
Include/WinAPI/winapi.mqh
Include/WinAPI/winbase.mqh
Include/WinAPI/windef.mqh
Include/WinAPI/wingdi.mqh
Include/WinAPI/winnt.mqh
Include/WinAPI/winreg.mqh
Include/WinAPI/winuser.mqh
Indicators/Examples/Accelerator.mq5
Indicators/Examples/AD.mq5
Indicators/Examples/ADX.mq5
Indicators/Examples/ADXW.mq5
Indicators/Examples/Alligator.mq5
Indicators/Examples/AMA.mq5
Indicators/Examples/ASI.mq5
Indicators/Examples/ATR.mq5
Indicators/Examples/Awesome_Oscillator.mq5
Indicators/Examples/BB.mq5
Indicators/Examples/Bears.mq5
Indicators/Examples/Bulls.mq5
Indicators/Examples/BW-ZoneTrade.mq5
Indicators/Examples/Canvas/FlameChart.mq5
Indicators/Examples/CCI.mq5
Indicators/Examples/CHO.mq5
Indicators/Examples/CHV.mq5
Indicators/Examples/ColorBars.mq5
Indicators/Examples/ColorCandlesDaily.mq5
Indicators/Examples/ColorLine.mq5
Indicators/Examples/Custom Moving Average.mq5
Indicators/Examples/DEMA.mq5
Indicators/Examples/DeMarker.mq5
Indicators/Examples/DPO.mq5
Indicators/Examples/Envelopes.mq5
Indicators/Examples/Force_Index.mq5
Indicators/Examples/Fractals.mq5
Indicators/Examples/FrAMA.mq5
Indicators/Examples/Gator.mq5
Indicators/Examples/Gator_2.mq5
Indicators/Examples/Heiken_Ashi.mq5
Indicators/Examples/Ichimoku.mq5
Indicators/Examples/MACD.mq5
Indicators/Examples/MarketFacilitationIndex.mq5
Indicators/Examples/MFI.mq5
Indicators/Examples/MI.mq5
Indicators/Examples/Momentum.mq5
Indicators/Examples/OBV.mq5
Indicators/Examples/OsMA.mq5
Indicators/Examples/Panels/ChartPanel/ChartPanel.mq5
Indicators/Examples/Panels/ChartPanel/PanelDialog.mqh
Indicators/Examples/Panels/SimplePanel/PanelDialog.mqh
Indicators/Examples/Panels/SimplePanel/SimplePanel.mq5
Indicators/Examples/ParabolicSAR.mq5
Indicators/Examples/Price_Channel.mq5
Indicators/Examples/PVT.mq5
Indicators/Examples/ROC.mq5
Indicators/Examples/RSI.mq5
Indicators/Examples/RVI.mq5
Indicators/Examples/StdDev.mq5
Indicators/Examples/Stochastic.mq5
Indicators/Examples/TEMA.mq5
Indicators/Examples/TRIX.mq5
Indicators/Examples/Ultimate_Oscillator.mq5
Indicators/Examples/VIDYA.mq5
Indicators/Examples/Volumes.mq5
Indicators/Examples/VROC.mq5
Indicators/Examples/W_AD.mq5
Indicators/Examples/WPR.mq5
Indicators/Examples/ZigZag.mq5
Indicators/Examples/ZigzagColor.mq5
Scripts/Examples/AccountInfo/AccountInfoSample.mq5
Scripts/Examples/AccountInfo/AccountInfoSampleInit.mqh
Scripts/Examples/ArrayDouble/ArrayDoubleSample.mq5
Scripts/Examples/Canvas/CanvasSample.mq5
Scripts/Examples/Canvas/Charts/HistogramChartSample.mq5
Scripts/Examples/Canvas/Charts/LineChartSample.mq5
Scripts/Examples/Canvas/Charts/PieChartSample.mq5
Scripts/Examples/ObjectChart/ChartSampleInit.mqh
Scripts/Examples/ObjectChart/ObjChartSample.mq5
Scripts/Examples/ObjectSphere/Sphere.mqh
Scripts/Examples/ObjectSphere/SphereSample.mq5
Scripts/Examples/OpenCL/Double/BitonicSort.mq5
Scripts/Examples/OpenCL/Double/FFT.mq5
Scripts/Examples/OpenCL/Double/Kernels/bitonicsort.cl
Scripts/Examples/OpenCL/Double/Kernels/fft.cl
Scripts/Examples/OpenCL/Double/Kernels/matrixmult.cl
Scripts/Examples/OpenCL/Double/Kernels/wavelet.cl
Scripts/Examples/OpenCL/Double/MatrixMult.mq5
Scripts/Examples/OpenCL/Double/Wavelet.mq5
Scripts/Examples/OpenCL/Float/BitonicSort.mq5
Scripts/Examples/OpenCL/Float/FFT.mq5
Scripts/Examples/OpenCL/Float/Kernels/bitonicsort.cl
Scripts/Examples/OpenCL/Float/Kernels/fft.cl
Scripts/Examples/OpenCL/Float/Kernels/matrixmult.cl
Scripts/Examples/OpenCL/Float/Kernels/wavelet.cl
Scripts/Examples/OpenCL/Float/MatrixMult.mq5
Scripts/Examples/OpenCL/Float/Wavelet.mq5
Scripts/Examples/OpenCL/Seascape/Seascape.cl
Scripts/Examples/OpenCL/Seascape/Seascape.mq5
Scripts/Examples/OpenCL/Seascape/Seascape.mqproj
Scripts/Examples/OrderInfo/OrderInfoSample.mq5
Scripts/Examples/OrderInfo/OrderInfoSampleInit.mqh
Scripts/Examples/PositionInfo/PositionInfoSample.mq5
Scripts/Examples/PositionInfo/PositionInfoSampleInit.mqh
Scripts/Examples/Remnant 3D/Remnant 3D.mq5
Scripts/Examples/Remnant 3D/Remnant 3D.mqproj
Scripts/Examples/Remnant 3D/Shaders/pixel.hlsl
Scripts/Examples/Remnant 3D/Shaders/vertex.hlsl
Scripts/Examples/SymbolInfo/SymbolInfoSample.mq5
Scripts/Examples/SymbolInfo/SymbolInfoSampleInit.mqh
Scripts/UnitTests/Alglib/TestClasses.mq5
Scripts/UnitTests/Alglib/TestClasses.mqh
Scripts/UnitTests/Alglib/TestInterfaces.mq5
Scripts/UnitTests/Alglib/TestInterfaces.mqh
Scripts/UnitTests/Fuzzy/TestFuzzy.mq5
Scripts/UnitTests/Generic/TestArrayList.mq5
Scripts/UnitTests/Generic/TestHashMap.mq5
Scripts/UnitTests/Generic/TestHashSet.mq5
Scripts/UnitTests/Generic/TestLinkedList.mq5
Scripts/UnitTests/Generic/TestQueue.mq5
Scripts/UnitTests/Generic/TestRedBlackTree.mq5
Scripts/UnitTests/Generic/TestSortedMap.mq5
Scripts/UnitTests/Generic/TestSortedSet.mq5
Scripts/UnitTests/Generic/TestStack.mq5
Scripts/UnitTests/Stat/TestStat.mq5
Scripts/UnitTests/Stat/TestStatBenchmark.mq5
Scripts/UnitTests/Stat/TestStatPrecision.mq5
